// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

select {
	border-radius: 0;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
// input[type='date'],
textarea {
	// $btn-padding-y | $btn-padding-x | $btn-font-size | $btn-radius | $btn-border-width | $btn-line-height
	@include button-size(1.6rem, $input-btn-padding-x, $btn-font-size, $btn-radius, $btn-border-width, $btn-line-height);
	//color button mixin $background | $color | $border
	@include input-variant($white, $gray-400, $input-border-color);
	text-align: left;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	outline: $input-border-color;
	border-style: solid;
	max-width: 100%;
	opacity:1;
	// height: $input-height;
	height: 50px;
	font-weight: 400;
	letter-spacing: -0.27px;
	transition: border-color $animation-speed $animation-name;

	&:focus {
		border-color: darken($input-border-color, 15%);
	}

	@include placeholder {
		opacity:1;
		color: $input-placeholder-color;
	}
}

textarea {
	resize: none;
	vertical-align: top;
	width: 100%;
	height: 158px;
}

button,
input[type='button'],
input[type='reset'],
// input[type='file'],
input[type='submit'] {
	// $btn-padding-y | $btn-padding-x | $btn-font-size | $btn-radius | $btn-border-width | $btn-line-height | $btn-font-weight
	@include button-size($btn-padding-y, 5rem, $btn-font-size, $btn-radius, $btn-border-width, $btn-line-height, $btn-font-weight);
	//color button mixin $background | $color | $border | $hover-background | $hover-color | $hover-border
	@include button-variant($btn-bg-color, $white, $btn-bg-color);

	transition: $btn-transition;
	height: 75px;
	border-style: solid;
	text-transform: uppercase;
	box-shadow: $btn-box-shadow;
	-webkit-appearance: none;
	cursor: pointer;

	@include media("<tablet") {
		box-shadow: 5px 5px 10px rgba(42, 43, 44, 0.42);
		padding-top: 21px;
		padding-bottom: 21px;
	}

	@include media("<phone-mockup") {
		min-width: inherit;
		font-size: 14px;
	}

	&:disabled {
		pointer-events: none;
		color: $gray-500;

		&:before {
			color: $gray-500;
		}
	}

	&:focus {
		outline: inherit;
	}
}

input[type='file'] {
	max-width: 100%;
}

//------------------- style #input #textarea
// removes the icon in the search type field
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

// smoothly changing the transparency of the placeholder with focus for textarea and input and inheritance of font color
textarea,
input {
	@include placeholder {
		color: inherit;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&:focus {
		@include placeholder {
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	}
}

.form-control{
	display: block;
	width: 100%;
}

label {
	display: inline-flex;
	margin-bottom: 2px;
	font-weight: 700;
}