//-------------------- #html
html {
	$html-font-size: $rem-base;
	font-size: $html-font-size;
	box-sizing: border-box;
	//fix iOS bugs reset paddings
	padding: constant(safe-area-inset); //iOS 11
	padding: env(safe-area-inset); //iOS 11.2+

	@include media("<mockup") {
		font-size: $html-font-size - 1.5px;
	}

	@include media("<desktop") {
		font-size: $html-font-size - 2px;
	}

	@include media("<phone") {
		font-size: $html-font-size - 2.5px;
	}

	@include media("<xs-phone") {
		overflow-x: hidden;
	}
}

* {
	box-sizing: inherit;
	// max-height to all
	max-height: 1000000px;
	&:after,
	&:before {
		box-sizing: inherit;
	}
}

//-------------------- #body
body {
	color: $base-text-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	letter-spacing: $base-letter-spacing;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include media("<mockup") {
		font-size: 16px;
		line-height: em(25px, 16px);
		letter-spacing: em(-0.27px, 16px);
	}
}

//---------------- #h style h1-h6

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;
	color: inherit;

	@include media("<tablet") {
		margin-bottom:1em;
	}

	a {
		color: inherit;
		font-size: inherit;

		&:hover{
			color: $color-brand;
		}
	}
}

h1,
.h1 {
	@include fs($h1-font-size);
	line-height: 1.036364;
	letter-spacing: -0.027273em;
	margin: 0 0 em(31px, $h1-font-size);

	@include media("<desktop") {
		font-size: 33px;
		line-height: em(38px, 33px);
		letter-spacing: -0.9px;
	}
}
h2,
.h2 {
	@include fs($h2-font-size);
	line-height: em(41px, $h2-font-size);
	margin: 0 0 0.6em;

	@include media("<tablet") {
		font-size: 28px;
		line-height: em(30px, 28px);
		letter-spacing: -0.47px;
	}
}

h3,
.h3 {
	@include fs($h3-font-size);
	line-height: em(34px, $h3-font-size);
	margin: 0 0 em(39px, $h3-font-size);

	@include media("<desktop") {
		font-size: 32px;
		line-height: 34px;
		letter-spacing: -0.53px;
	}
}

h4,
.h4 {
	@include fs($h4-font-size);
	line-height: 26px;
	margin: 0 0 em(39px, $h4-font-size);

	@include media("<desktop") {
		font-size: 26px;
		letter-spacing: -0.43px;
		margin-bottom: 30px;
	}
}

h5,
.h5 {
	@include fs($h5-font-size);
	margin: 0 0 0.9em;
}

h6,
.h6 {
	@include fs($h6-font-size);
	margin: 0 0 1em;
}

//------------------- #p
p {
	margin-bottom: rem(40px);
	margin-top: 0;

	@include media("<desktop") {
		margin-bottom: 20px;
	}
}

//------------------- #a
a {
	color: $color-brand;
	text-decoration: none;
	transition: $btn-transition;
	&:hover {
		color: darken($color-brand, 15%);
	}
}

//------------------- #img
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

//----------------------------- style #ol #ul #li
ul,
ol {
	list-style: none;
	margin-top: 0;
	padding-left: 0px;
	li {
		list-style: none;
	}
}

//common style ol ul
#sidebar ol:not([class]),
#sidebar ul:not([class]),
.entry ol:not([class]),
.entry ul:not([class]) {
	$margin-li-top: em(20px, 16px);
	padding-top: 1em;
	margin-bottom: rem(57px);

	li {
		&+ li {
			margin-top: $margin-li-top;
		}
	}

	ul, ol {
		padding: 0;
		margin: $margin-li-top 0 0 $margin-li-top;
	}
}
ul.list-style,
ol.list-style {
	$margin-li-top: em(20px, 16px);

	margin-left: em(20px, 16px);
	margin-bottom: em(41px, 16px);

	@include media("<tablet") {
		margin-left: 0;
		margin-bottom: 30px;
	}

	li {
		padding-left: em(31px, 16px);
		position: relative;

		@include media("<tablet") {
			padding-left: 21px;
		}
		& + li {
			margin-top: $margin-li-top;
		}
	}

	// nested list ul
	ul {
		margin-bottom: 0;
		margin-top: $margin-li-top;
		& > li {
			&:before {
				content: "+";
				color: $color-brand-dark;
			}
		}
	}
	// nested list ol
	ol {
		margin-bottom: 0;
		margin-top: $margin-li-top;
		& > li {
			&:before {
				color: $color-brand-dark;
			}
		}
	}
}

//style only ul
#sidebar ul:not([class]),
.entry ul:not([class]),
ul.list-style {
	& > li {
		&:before {
			content: " ";
			width: em(20px, 16px);
			height: em(5px, 16px);
			background-color: $gray-400;
			position: absolute;
			top: em(10px, 16px);
			left: 0;

			@include media("<tablet") {
				width: 17px;
			}
		}
	}
}

//style only ol
#sidebar ol:not([class]),
.entry ol:not([class]),
ol.list-style {
	counter-reset: list;

	& > li {
		&:before {
			content: counter(list) ".";
			counter-increment: list;
			position: absolute;
			top: 0;
			left: 0px;
			font-weight: 700;
			color: $gray-200;
		}
	}
}


//---------------------- #table
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 15px;
	th {
		@include fs($font-size-base);
		padding: 10px 15px;
		color: $base-text-color;
		text-align: left;
		border-bottom: 1px solid #979797;
		@include media("<=phone") {
			padding: 10px 5px;
		}
		& + th {
			text-align: center;
		}
	}
	td {
		@include fs($font-size-base);
		padding: 10px 15px;
		color: $base-text-color;
		border-bottom: 1px solid #979797;
		@include media("<=phone") {
			padding: 7px 5px;
		}
		& + td {
			text-align: center;
		}
	}
}

//------------------- #pre
pre {
	max-width: 100%;
	background: rgba(#000, 0.1);
	padding: 0.5em;
}

//------------------- #blockquote
blockquote {
	font-size: 22px;
	position: relative;
	max-width: rem(600px);
	margin: 0 0 em(34px, 22px) 18px;
	padding-left: 22px;
	letter-spacing: -0.37px;
	line-height: 28px;
	font-style: italic;
	bottom: 0;

	@include media("<tablet") {
		margin-left: 2px;
		margin-bottom: 25px;
		padding-left: 15px;
	}

	&::before{
		content: "";
		position: absolute;
		top: 2px;
		left: 0;
		bottom: 8px;
		border-left: 5px solid $red-400;
	}

	p {
		margin: 0;
	}

	cite {
		position: relative;
		margin-top: 11px;
		padding-left: 18px;
		font-size: 14px;
		font-style: normal;
		letter-spacing: -0.23px;

		@include media("<tablet") {
			margin-top: 4px;
			font-size: 14px;
		}

		&::before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 14px;
			height: 1px;
			background-color: $base-text-color;
		}
	}
}

//------------------- #dl | dt | dd
dl {
	dt {
		float: left;
		clear: left;
		padding-right: 0.3em;
		font-weight: bold;
	}
	dd {
		margin-left: 0;
	}
}

//------------------- #container
.container {
	max-width: $container-width-full;
	width: 100%;
	margin: 0 auto;
	padding-left: $container-pading-left;
	padding-right: $container-pading-right;

	@include media("<desktop") {
		padding-left: 30px;
		padding-right: 30px;
	}

	&--header {
		max-width: 1595px;
	}

	&--lg {
		max-width: 1290px;
	}

	&--sm {
		max-width: 863px;
	}

	@media (min-width: 812px) and (max-height: 414px) {
		//increase paddings that content didn't disturb notch for landscape orientation https://twitter.com/i/status/907911237983449088
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
}
