<div class="articles-list-wrap">
	<div class="container">
		<h2 class="article-title">Customized Private On-site <br>Training Solutions.</h2>
		<div class="slick-slider slick-sm articles-carousel">
			<div class="articles-carousel__slide">
				<article class="card">
					<div class="card__badge-wrap"><span class="card__badge">Most popular</span></div>
					<div class="card__text">
						<h3 class="card__title"><a href="#">Incident Investigation, Root Cause Analysis, &amp; MORT Certification
								5-Day Workshop</a></h3>
						<p>Conger &amp; Elsea’s premier training course on root cause analysis.</p>
					</div>
					<div class="card__btn-wrap">
						<a href="#" class="card-link"><i class="fal fa-info-circle"></i>Explore</a>
					</div>
				</article>
			</div>
			<div class="articles-carousel__slide">
				<article class="card">
					<div class="card__text">
						<h3 class="card__title"><a href="#">Root Cause Analysis 3-Day Workshop</a></h3>
						<p>This course provides the knowledge and hands-on experience to implement six essential analytical methods.
						</p>
					</div>
					<div class="card__btn-wrap">
						<a href="#" class="card-link"><i class="fal fa-info-circle"></i>Explore</a>
					</div>
				</article>
			</div>
			<div class="articles-carousel__slide">
				<article class="card">
					<div class="card__text">
						<h3 class="card__title"><a href="#">Incident Investigation 1-Day Workshop</a></h3>
						<p>Conger-Elsea provides instruction on proven investigative techniques that enable students to master the
							components of incident investigation.</p>
					</div>
					<div class="card__btn-wrap">
						<a href="#" class="card-link"><i class="fal fa-info-circle"></i>Explore</a>
					</div>
				</article>
			</div>
			<div class="articles-carousel__slide">
				<article class="card card--blue">
					<div class="card__text">
						<h3 class="card__title"><a href="#">We’ll create a customized solution for your company.</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
					<div class="card__btn-wrap">
						<a href="#" class="card-link"><i class="fal fa-phone"></i>Contact Us</a>
					</div>
				</article>
			</div>
		</div>
		<div class="btn-holder">
			<a href="#" class="btn btn--outline-secondary btn--sm">View All<i class="fal fa-arrow-right"></i></a>
		</div>
	</div>
</div>