<article class="article-action-wrap">
	<div class="container">
		<div class="article-action">
			<div class="article-action__body">
				<h2 class="article-title">We partner with legal and consulting professionals seeking a completive advantage.
				</h2>
				<div class="article-action__text">
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem
						lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magni.</p>
					<div class="article-action__btns">
						<a href="#" class="btn btn--outline-white">Contact Us to Learn More<i class="fal fa-share"></i></a>
					</div>
				</div>
			</div>
			<div class="article-action__tmb article-action__tmb--overlay-green">
				<div class="bg-stretch">
					<picture>
						<source srcset="assets/img/action-article-img01-sm.jpg, assets/img/action-article-img01-sm@2x.jpg 2x"
							media="(max-width: 767px)">
						<img src="img/action-article-img01.jpg" alt="image description">
					</picture>
				</div>
			</div>
		</div>
	</div>
</article>