<header class="header">
	<div class="container container--header">
		<div class="navbar">
			<div class="logo">
				<a href="#">
					<img src="img/main-logo.svg" alt="Conger &amp; Elsea &amp; raining &amp; Consulting Solutions" width="299" height="66">
				</a>
			</div>
			<div class="nav-drop">
				<nav class="nav-wrap">
					<div class="nav-area">
						<ul class="header-links">
							<li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><span class="visible-sm--inline">Connect with Us</span></a></li>
							<li><a href="#">About Conger &amp; Elsea</a></li>
							<li><a href="#"><i class="far fa-compact-disc"></i>Software</a></li>
						</ul>
						<div id="nav">
							<ul class="header-menu">
								<li>
									<a href="#">Industries</a>
								</li>
								<li>
									<a href="#">Training</a>
									<ul>
										<li class="drop-title"><a href="#">Training</a></li>
										<li><a href="#">Private On-Site Training</a></li>
										<li><a href="#">Public Training</a></li>
									</ul>
								</li>
								<li data-sm-reverse="true">
									<a href="#" class="">Consulting</a>
									<ul>
										<li class="drop-title"><a href="#">Consulting</a></li>
										<li><a href="#">Incident Investigation</a></li>
										<li><a href="#">Program Development</a></li>
										<li><a href="#">Audits and Evaluations</a></li>
										<li><a href="#">Nuclear Materials Licensees</a></li>
										<li><a href="#">Advisory Services</a></li>
									</ul>
								</li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<a href="!#" class="nav-opener"><span></span></a>
		</div>
	</div>
</header>
