<article class="registration-article">
	<div class="container">
		<div class="registration-article-wrap">
			<section class="promo-info-wrap">
				<div class="promo-info">
					<h2 class="article-title">Let our training consultants customize your program.</h2>
					<div class="promo-info__entry">
						<ul class="list-style">
							<li>
								<p><strong>Vestibulum id ligula porta felis euismod semper.</strong></p>
								<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in,
									diam. Sed arcu. Cras consequat</p>
							</li>
							<li>
								<p><strong>Vestibulum id ligula porta felis euismod semper.</strong></p>
								<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in,
									diam. Sed arcu. Cras consequat</p>
							</li>
							<li>
								<p><strong>Vestibulum id ligula porta felis euismod semper.</strong></p>
								<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in,
									diam. Sed arcu. Cras consequat</p>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<div class="form-registration-wrap">
				<div class="form-registration custom-form">
					<form>
						<h4 class="form-registration__h">Complete this form to get started</h4>
						<div class="form-group">
							<label for="your-name">Your Name*</label>
							<input class="form-control" type="text" name="your-name" id="your-name" placeholder="First Name">
							<input class="form-control" type="text" name="last-name" id="last-name" placeholder="Last Name">
						</div>
						<div class="form-group">
							<label for="business-name">Business Name*</label>
							<input class="form-control" type="text" name="business-name" id="business-name"
								placeholder="My Company, Inc">
						</div>
						<div class="form-group">
							<label for="job-title">Job Title</label>
							<input class="form-control" type="text" name="job-title" id="job-title" placeholder="Manager">
						</div>
						<div class="form-group">
							<label for="phone">Phone</label>
							<input class="form-control" type="tel" name="phone" id="phone" placeholder="(888) 555-1234">
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input class="form-control" type="email" name="email" id="email" placeholder="yourname@company.com">
						</div>
						<div class="form-group">
							<label for="select">Numbr of Participants</label>
							<select name="select" id="select">
								<option value="Just Me" selected>Just Me</option>
								<option value="Just Me">Item 1</option>
								<option value="Just Me">Item 2</option>
							</select>
						</div>
						<div class="form-group form-group--btn">
							<button class="btn btn--green" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</article>