<div class="training-list-wrap">
	<div class="container">
		<h2 class="article-title">Public Training Classes.</h2>
		<div class="slick-slider training-carousel">
			<div class="training-carousel__slide">
				<article class="card-training">
					<div class="card-training__tmb">
						<div class="card-training__badge-wrap">
							<span class="badge">December 18-22, 2020</span>
						</div>
						<picture>
							<source srcset="assets/img/training-img01-sm.jpg, assets/img/training-img01-sm@2x.jpg 2x"	media="(max-width: 767px)">
							<img src="img/training-img01.jpg" alt="image description">
						</picture>
					</div>
					<div class="card-training__body">
						<div class="card-training__text">
							<h3 class="card-training__title"><a href="#">Super Long City and Location Name that Wraps</a></h3>
							<p>(MORT) Management Oversight and Risk Tree Training</p>
						</div>
						<div class="card-training__btn-wrap">
							<a href="#" class="btn-link">Learn more<i class="fal fa-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</article>
			</div>
			<div class="training-carousel__slide">
				<article class="card-training">
					<div class="card-training__tmb">
						<div class="card-training__badge-wrap">
							<span class="badge">May 18-22, 2020</span>
						</div>
						<picture>
							<source srcset="assets/img/training-img01-sm.jpg, assets/img/training-img01-sm@2x.jpg 2x" media="(max-width: 767px)">
							<img src="img/training-img02.jpg" alt="image description">
						</picture>
					</div>
					<div class="card-training__body">
						<div class="card-training__text">
							<h3 class="card-training__title"><a href="#">Chicago, IL</a></h3>
							<p>(MORT) Management Oversight and Risk Tree Training</p>
						</div>
						<div class="card-training__btn-wrap">
							<a href="#" class="btn-link">Learn more<i class="fal fa-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</article>
			</div>
			<div class="training-carousel__slide">
				<article class="card-training">
					<div class="card-training__tmb">
						<div class="card-training__badge-wrap">
							<span class="badge">May 18-22, 2020</span>
						</div>
						<picture>
							<source srcset="assets/img/training-img01-sm.jpg, assets/img/training-img01-sm@2x.jpg 2x" media="(max-width: 767px)">
							<img src="img/training-img03.jpg" alt="image description">
						</picture>
					</div>
					<div class="card-training__body">
						<div class="card-training__text">
							<h3 class="card-training__title"><a href="#">Dallas/Fort Worth</a></h3>
							<p>(MORT) Management Oversight and Risk Tree Training</p>
						</div>
						<div class="card-training__btn-wrap">
							<a href="#" class="btn-link">Learn more<i class="fal fa-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>