<link rel='stylesheet' id='dashicons-css' href='https://www.reliablepsd.com/wiki/wp-includes/css/dashicons.min.css?ver=4.9.4' type='text/css' media='all' />
<link rel='stylesheet' id='admin-bar-css' href='https://www.reliablepsd.com/wiki/wp-includes/css/admin-bar.min.css?ver=4.9.4' type='text/css' media='all' />
<style type="text/css" media="print">
#wpadminbar {
	display: none;
}
</style>
<style type="text/css" media="screen">
html {
	margin-top: 32px !important;
}

@media(max-width: 1023px) {
	html {
		margin-top: 0 !important;
	}
}

* html body {
	margin-top: 32px !important;
}

@media screen and (max-width: 782px) {
	html {
		margin-top: 0 !important;
	}

	* html body {
		margin-top: 0 !important;
	}
}
</style>