<div id="wpadminbar" class="nojq nojs"> <a class="screen-reader-shortcut" href="#wp-toolbar" tabindex="1">Skip to toolbar</a>
	<div class="quicklinks" id="wp-toolbar" role="navigation" aria-label="Toolbar" tabindex="0">
		<ul id="wp-admin-bar-root-default" class="ab-top-menu">
			<li id="wp-admin-bar-wp-logo" class="menupop"><a class="ab-item" aria-haspopup="true" href="wp-admin/about.php"><span class="ab-icon"></span><span class="screen-reader-text">About WordPress</span></a>
				<div class="ab-sub-wrapper">
					<ul id="wp-admin-bar-wp-logo-default" class="ab-submenu">
						<li id="wp-admin-bar-about"><a class="ab-item" href="wp-admin/about.php">About WordPress</a> </li>
					</ul>
					<ul id="wp-admin-bar-wp-logo-external" class="ab-sub-secondary ab-submenu">
						<li id="wp-admin-bar-wporg"><a class="ab-item" href="https://wordpress.org/">WordPress.org</a> </li>
						<li id="wp-admin-bar-documentation"><a class="ab-item" href="https://codex.wordpress.org/">Documentation</a> </li>
						<li id="wp-admin-bar-support-forums"><a class="ab-item" href="https://wordpress.org/support/">Support Forums</a> </li>
						<li id="wp-admin-bar-feedback"><a class="ab-item" href="https://wordpress.org/support/forum/requests-and-feedback">Feedback</a> </li>
					</ul>
				</div>
			</li>
			<li id="wp-admin-bar-site-name" class="menupop"><a class="ab-item" aria-haspopup="true" href="wp-admin/">Reliable PSD Wiki</a>
				<div class="ab-sub-wrapper">
					<ul id="wp-admin-bar-site-name-default" class="ab-submenu">
						<li id="wp-admin-bar-dashboard"><a class="ab-item" href="wp-admin/">Dashboard</a> </li>
					</ul>
					<ul id="wp-admin-bar-appearance" class="ab-submenu">
						<li id="wp-admin-bar-themes"><a class="ab-item" href="wp-admin/themes.php">Themes</a> </li>
						<li id="wp-admin-bar-widgets"><a class="ab-item" href="wp-admin/widgets.php">Widgets</a> </li>
						<li id="wp-admin-bar-menus"><a class="ab-item" href="wp-admin/nav-menus.php">Menus</a> </li>
					</ul>
				</div>
			</li>
			<li id="wp-admin-bar-customize" class="hide-if-no-customize"><a class="ab-item" href="wp-admin/customize.php?url=https%3A%2F%2Fwww.reliablepsd.com%2Fwiki%2F">Customize</a> </li>
			<li id="wp-admin-bar-comments"><a class="ab-item" href="wp-admin/edit-comments.php"><span class="ab-icon"></span><span class="ab-label awaiting-mod pending-count count-0" aria-hidden="true">0</span><span class="screen-reader-text">0 comments awaiting moderation</span></a> </li>
			<li id="wp-admin-bar-new-content" class="menupop"><a class="ab-item" aria-haspopup="true" href="wp-admin/post-new.php"><span class="ab-icon"></span><span class="ab-label">New</span></a>
				<div class="ab-sub-wrapper">
					<ul id="wp-admin-bar-new-content-default" class="ab-submenu">
						<li id="wp-admin-bar-new-post"><a class="ab-item" href="wp-admin/post-new.php">Post</a> </li>
						<li id="wp-admin-bar-new-media"><a class="ab-item" href="wp-admin/media-new.php">Media</a> </li>
						<li id="wp-admin-bar-new-page"><a class="ab-item" href="wp-admin/post-new.php?post_type=page">Page</a> </li>
						<li id="wp-admin-bar-new-question_tpl"><a class="ab-item" href="wp-admin/post-new.php?post_type=question_tpl">Question Templates</a> </li>
						<li id="wp-admin-bar-new-project_question"><a class="ab-item" href="wp-admin/post-new.php?post_type=project_question">Project Questions</a> </li>
						<li id="wp-admin-bar-new-proposal-post-2018"><a class="ab-item" href="wp-admin/post-new.php?post_type=proposal-post-2018">Proposal (NEW)</a> </li>
						<li id="wp-admin-bar-new-salary"><a class="ab-item" href="wp-admin/post-new.php?post_type=salary">Salary</a> </li>
						<li id="wp-admin-bar-new-payment"><a class="ab-item" href="wp-admin/post-new.php?post_type=payment">Payment</a> </li>
						<li id="wp-admin-bar-new-vacation"><a class="ab-item" href="wp-admin/post-new.php?post_type=vacation">Vacation</a> </li>
						<li id="wp-admin-bar-new-user"><a class="ab-item" href="wp-admin/user-new.php">User</a> </li>
					</ul>
				</div>
			</li>
			<li id="wp-admin-bar-edit"><a class="ab-item" href="wp-admin/post.php?post=2&#038;action=edit">Edit Page</a> </li>
			<li id="wp-admin-bar-new_draft"><a class="ab-item" href="wp-admin/admin.php?action=duplicate_post_save_as_new_post_draft&#038;post=2&#038;_wpnonce=586eb235f3">Copy to a new draft</a> </li>
		</ul>
		<ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">
			<li id="wp-admin-bar-search" class="admin-bar-search">
				<div class="ab-item ab-empty-item" tabindex="-1">
					<form action="" method="get" id="adminbarsearch"><input class="adminbar-input" name="s" id="adminbar-search" type="text" value="" maxlength="150" /><label for="adminbar-search" class="screen-reader-text">Search</label><input type="submit" class="adminbar-button" value="Search" /></form>
				</div>
			</li>
			<li id="wp-admin-bar-my-account" class="menupop with-avatar"><a class="ab-item" aria-haspopup="true" href="wp-admin/profile.php">Howdy, <span class="display-name">Admin</span><img alt='' src='https://secure.gravatar.com/avatar/40598fa88407737b932564af32d5ea66?s=26&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/40598fa88407737b932564af32d5ea66?s=52&#038;d=mm&#038;r=g 2x' class='avatar avatar-26 photo' height='26' width='26' /></a>
				<div class="ab-sub-wrapper">
					<ul id="wp-admin-bar-user-actions" class="ab-submenu">
						<li id="wp-admin-bar-user-info"><a class="ab-item" tabindex="-1" href="wp-admin/profile.php"><img alt='' src='https://secure.gravatar.com/avatar/40598fa88407737b932564af32d5ea66?s=64&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/40598fa88407737b932564af32d5ea66?s=128&#038;d=mm&#038;r=g 2x' class='avatar avatar-64 photo' height='64' width='64' /><span class='display-name'>Admin</span><span class='username'>admin</span></a> </li>
						<li id="wp-admin-bar-edit-profile"><a class="ab-item" href="wp-admin/profile.php">Edit My Profile</a> </li>
						<li id="wp-admin-bar-logout"><a class="ab-item" href="wp-login.php?action=logout&#038;_wpnonce=70540c8b4c">Log Out</a> </li>
					</ul>
				</div>
			</li>
			<li id="wp-admin-bar-tm-suspend"><a class="ab-item" href="#">Suspend Transients</a> </li>
		</ul>
	</div> <a class="screen-reader-shortcut" href="wp-login.php?action=logout&#038;_wpnonce=70540c8b4c">Log Out</a> </div>
</div>